#Vscode个人配置文件（Stores paths of Vscode setting files）
.vscode/*
#日志文件（Log files）
Data/Update Logs/*
#文件大小超过100 MB（File size exceeds 100 MiB）
Data/cdragon/latest/game/data/maps/shipping/map22/map22.bin.json
Data/cdragon/pbe/game/data/maps/shipping/map22/map22.bin.json
#文件名过长（File name exceeds 171 characters）
Data/cdragon/latest/game/characters/petdssquid_multi_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_ink_root_ink_tier1_ink_tier2_ink_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_skin.cd6afa16d9bfa285.bin.json
Data/cdragon/latest/game/characters/petdssquid_multi_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_ink_root_ink_tier1_ink_tier2_ink_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_skin.d89419ccbe8d4d98.bin.json
Data/cdragon/latest/game/characters/petdssquid_multi_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_mecha_root_mecha_tier1_mecha_tier2_mecha_ti.0a9d8c38550ad556.bin.json
Data/cdragon/latest/game/characters/petduckbill_multi_base_root_base_tier1_base_tier2_base_tier3_battleacademia_root_battleacademia_tier1_battleacademia_tier2_battleacademia_tier3_set14rankedrewards_root_set14rankedrewards_tier1.bin.json
Data/cdragon/latest/game/characters/petpenguknight_multi_base_root_base_tier1_base_tier2_base_tier3_birthdaypengu_root_birthdaypengu_tier1_birthdaypengu_tier2_birthdaypengu_tier3_esport_root_esport_tier1_ruined_root_ruined_tier1_set5launchbattlepass_root_set5launch.b0a9f355111f6b17.bin.json
Data/cdragon/latest/game/characters/petsgshisa_multi_base_root_base_tier1_base_tier2_base_tier3_journeys_root_journeys_tier1_journeys_tier2_journeys_tier3_set6launchbattlepass_root_set6launchbattlepass_tier1_set6launchbattlepass_tier2_set6launchbattlepass_tier3_ski.938a78ecd8ace5de.bin.json
Data/cdragon/latest/game/characters/pettftavatar_multi_astronaut_root_astronaut_tier1_base_root_base_tier1_battleacademia_root_battleacademia_tier1_bubbletea_root_bubbletea_tier1_carbs2_root_carbs2_tier1_chemtank_root_chemtank_tier1_cyberpunk_root_cyberpunk_tier1_d.113ca729ee6acb3f.bin.json
Data/cdragon/latest/game/characters/petumbra_multi_band_root_base_root_base_tier1_base_tier2_base_tier3_poolparty_root_poolparty_tier1_poolparty_tier2_poolparty_tier3_rpg_root_rpg_tier1_rpg_tier2_rpg_tier3.bin.json
Data/cdragon/latest/game/data/petdssquid_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_mecha_root_mecha_tier1_mecha_tier2_mecha_tier3_sk.3cbc5ccc095e5ee4.bin.json
Data/cdragon/latest/game/data/petduckbill_base_root_base_tier1_base_tier2_base_tier3_battleacademia_root_battleacademia_tier1_battleacademia_tier2_battleacademia_tier3_set14rankedrewards_root_set14rankedrewards_tier1.bin.json
Data/cdragon/latest/game/data/petpenguknight_base_root_base_tier1_base_tier2_base_tier3_birthdaypengu_root_birthdaypengu_tier1_birthdaypengu_tier2_birthdaypengu_tier3_esport_root_esport_tier1_ruined_root_ruined_tier1_set5launchbattlepass_root_set5launchbattle.9b99117fca51d969.bin.json
Data/cdragon/latest/game/data/pettftavatar_astronaut_root_astronaut_tier1_base_root_base_tier1_battleacademia_root_battleacademia_tier1_bubbletea_root_bubbletea_tier1_carbs2_root_carbs2_tier1_chemtank_root_chemtank_tier1_cyberpunk_root_cyberpunk_tier1_demacia.bc47711e21ac4196.bin.json
Data/cdragon/latest/game/data/petumbra_band_root_base_root_base_tier1_base_tier2_base_tier3_poolparty_root_poolparty_tier1_poolparty_tier2_poolparty_tier3_rpg_root_rpg_tier1_rpg_tier2_rpg_tier3.bin.json
Data/cdragon/pbe/game/characters/petdssquid_multi_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_ink_root_ink_tier1_ink_tier2_ink_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_skin.cd6afa16d9bfa285.bin.json
Data/cdragon/pbe/game/characters/petdssquid_multi_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_ink_root_ink_tier1_ink_tier2_ink_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_skin.d89419ccbe8d4d98.bin.json
Data/cdragon/pbe/game/characters/petdssquid_multi_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_mecha_root_mecha_tier1_mecha_tier2_mecha_ti.0a9d8c38550ad556.bin.json
Data/cdragon/pbe/game/characters/petduckbill_multi_base_root_base_tier1_base_tier2_base_tier3_battleacademia_root_battleacademia_tier1_battleacademia_tier2_battleacademia_tier3_set14rankedrewards_root_set14rankedrewards_tier1.bin.json
Data/cdragon/pbe/game/characters/petpenguknight_multi_base_root_base_tier1_base_tier2_base_tier3_birthdaypengu_root_birthdaypengu_tier1_birthdaypengu_tier2_birthdaypengu_tier3_cosmic_root_esport_root_esport_tier1_ruined_root_ruined_tier1_set5launchbattlepass_roo.f41474c8e4d6aed0.bin.json
Data/cdragon/pbe/game/characters/petpenguknight_multi_base_root_base_tier1_base_tier2_base_tier3_birthdaypengu_root_birthdaypengu_tier1_birthdaypengu_tier2_birthdaypengu_tier3_esport_root_esport_tier1_ruined_root_ruined_tier1_set5launchbattlepass_root_set5launch.b0a9f355111f6b17.bin.json
Data/cdragon/pbe/game/characters/petsgshisa_multi_base_root_base_tier1_base_tier2_base_tier3_journeys_root_journeys_tier1_journeys_tier2_journeys_tier3_set6launchbattlepass_root_set6launchbattlepass_tier1_set6launchbattlepass_tier2_set6launchbattlepass_tier3_ski.938a78ecd8ace5de.bin.json
Data/cdragon/pbe/game/characters/pettftavatar_multi_astronaut_root_astronaut_tier1_base_root_base_tier1_battleacademia_root_battleacademia_tier1_bubbletea_root_bubbletea_tier1_carbs2_root_carbs2_tier1_chemtank_root_chemtank_tier1_cyberpunk_root_cyberpunk_tier1_d.79748f911cbdc71d.bin.json
Data/cdragon/pbe/game/characters/petumbra_multi_band_root_base_root_base_tier1_base_tier2_base_tier3_poolparty_root_poolparty_tier1_poolparty_tier2_poolparty_tier3_rpg_root_rpg_tier1_rpg_tier2_rpg_tier3.bin.json
Data/cdragon/pbe/game/data/petdssquid_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_mecha_root_mecha_tier1_mecha_tier2_mecha_tier3_sk.3cbc5ccc095e5ee4.bin.json
Data/cdragon/pbe/game/data/petduckbill_base_root_base_tier1_base_tier2_base_tier3_battleacademia_root_battleacademia_tier1_battleacademia_tier2_battleacademia_tier3_set14rankedrewards_root_set14rankedrewards_tier1.bin.json
Data/cdragon/pbe/game/data/petpenguknight_base_root_base_tier1_base_tier2_base_tier3_birthdaypengu_root_birthdaypengu_tier1_birthdaypengu_tier2_birthdaypengu_tier3_esport_root_esport_tier1_ruined_root_ruined_tier1_set5launchbattlepass_root_set5launchbattle.9b99117fca51d969.bin.json
Data/cdragon/pbe/game/data/pettftavatar_astronaut_root_astronaut_tier1_base_root_base_tier1_battleacademia_root_battleacademia_tier1_bubbletea_root_bubbletea_tier1_carbs2_root_carbs2_tier1_chemtank_root_chemtank_tier1_cyberpunk_root_cyberpunk_tier1_demacia.bc47711e21ac4196.bin.json
Data/cdragon/pbe/game/data/petumbra_band_root_base_root_base_tier1_base_tier2_base_tier3_poolparty_root_poolparty_tier1_poolparty_tier2_poolparty_tier3_rpg_root_rpg_tier1_rpg_tier2_rpg_tier3.bin.json
