#Vscode个人配置文件（Stores paths of Vscode setting files）
.vscode/*
#日志文件（Log files）
Data/Update Logs/*
#文件大小超过100 MB（File size exceeds 100 MiB）
Data/cdragon/latest/game/data/maps/shipping/map22/map22.bin.json
Data/cdragon/pbe/game/data/maps/shipping/map22/map22.bin.json
#文件名过长（File name exceeds 171 characters）
Data/cdragon/latest/game/data/petdssquid_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_mecha_root_mecha_tier1_mecha_tier2_mecha_tier3_sk.3cbc5ccc095e5ee4.bin.json
Data/cdragon/latest/game/data/petduckbill_base_root_base_tier1_base_tier2_base_tier3_battleacademia_root_battleacademia_tier1_battleacademia_tier2_battleacademia_tier3_set14rankedrewards_root_set14rankedrewards_tier1.bin.json
Data/cdragon/latest/game/data/petpenguknight_base_root_base_tier1_base_tier2_base_tier3_birthdaypengu_root_birthdaypengu_tier1_birthdaypengu_tier2_birthdaypengu_tier3_esport_root_esport_tier1_ruined_root_ruined_tier1_set5launchbattlepass_root_set5launchbattle.9b99117fca51d969.bin.json
Data/cdragon/latest/game/data/pettftavatar_base_root_base_tier1_battleacademia_root_battleacademia_tier1_bubbletea_root_bubbletea_tier1_carbs2_root_carbs2_tier1_chemtank_root_chemtank_tier1_cyberpunk_root_cyberpunk_tier1_evil_root_evil_tier1_healthpotion_root.4edf62c6b6ff573b.bin.json
Data/cdragon/latest/game/data/pettftavatar_base_root_base_tier1_battleacademia_root_battleacademia_tier1_bubbletea_root_bubbletea_tier1_carbs2_root_carbs2_tier1_chemtank_root_chemtank_tier1_cyberpunk_root_cyberpunk_tier1_evil_root_evil_tier1_healthpotion_root.81ede64a8ebcf9c2.bin.json
Data/cdragon/latest/game/data/petumbra_band_root_base_root_base_tier1_base_tier2_base_tier3_poolparty_root_poolparty_tier1_poolparty_tier2_poolparty_tier3_rpg_root_rpg_tier1_rpg_tier2_rpg_tier3.bin.json
Data/cdragon/pbe/game/data/petdssquid_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_mecha_root_mecha_tier1_mecha_tier2_mecha_tier3_sk.3cbc5ccc095e5ee4.bin.json
Data/cdragon/pbe/game/data/petduckbill_base_root_base_tier1_base_tier2_base_tier3_battleacademia_root_battleacademia_tier1_battleacademia_tier2_battleacademia_tier3_set14rankedrewards_root_set14rankedrewards_tier1.bin.json
Data/cdragon/pbe/game/data/petpenguknight_base_root_base_tier1_base_tier2_base_tier3_birthdaypengu_root_birthdaypengu_tier1_birthdaypengu_tier2_birthdaypengu_tier3_esport_root_esport_tier1_ruined_root_ruined_tier1_set5launchbattlepass_root_set5launchbattle.9b99117fca51d969.bin.json
Data/cdragon/pbe/game/data/pettftavatar_base_root_base_tier1_battleacademia_root_battleacademia_tier1_bubbletea_root_bubbletea_tier1_carbs2_root_carbs2_tier1_chemtank_root_chemtank_tier1_cyberpunk_root_cyberpunk_tier1_evil_root_evil_tier1_healthpotion_root.4edf62c6b6ff573b.bin.json
Data/cdragon/pbe/game/data/pettftavatar_base_root_base_tier1_battleacademia_root_battleacademia_tier1_bubbletea_root_bubbletea_tier1_carbs2_root_carbs2_tier1_chemtank_root_chemtank_tier1_cyberpunk_root_cyberpunk_tier1_evil_root_evil_tier1_healthpotion_root.81ede64a8ebcf9c2.bin.json
Data/cdragon/pbe/game/data/petumbra_band_root_base_root_base_tier1_base_tier2_base_tier3_poolparty_root_poolparty_tier1_poolparty_tier2_poolparty_tier3_rpg_root_rpg_tier1_rpg_tier2_rpg_tier3.bin.json
